.inner-nav.onepage-nav
    ul
        li: a(href="#home")
            span.menu-item-span Home

        li: a(href="#services")
            span.menu-item-span Services

        li: a(href="#events")
            span.menu-item-span Events

        li: a(href="#team")
            span.menu-item-span Team

        li: a(href="#partners")
            span.menu-item-span Partners
