// Footer
footer.footer

    .footer-widgets
        .container

            .row

                .col-md-4
                    

                .col-md-4
                    // Text widget
                    aside.widget.widget-text
                        .widget-title
                            h6 About Us
                        .textwidget
                            p LivAway Inc., 上海力弗韦文化传媒有限公司
                            p
                                |Location: 3F, Xianxia Rd 319, Shanghai, China<br>
                                |E-mail: info@livaway.org<br>
    
                            ul.social-icons
                                li: a(href="https://www.meetup.com/LivAway/") #[i.fab.fa-meetup]
                                li: a(href="https://www.linkedin.com/company/livaway") #[i.fab.fa-linkedin]
                    

                .col-md-4
                    

    .footer-bar
        .container

            .row
                .col-md-12
                    .copyright
                        p © 2019 LivAway Inc, All Rights Reserved. 
// Footer end